<html ng-app="app">
    <head>
        <title>Test</title>

        
		
		<script src="javascripts/lib/angular.min.js"></script> 
		<script src="javascripts/lib/angular_ui_router.min.js"></script> 
		<script src="javascripts/lib/jquery.min.js"></script> 
		<script src="javascripts/lib/angular-sanitize.min.js"></script> 
		<script src="javascripts/lib/angular-resource.min.js"></script>
		<script src='javascripts/app.js'></script>
		<script src='javascripts/homeController.js'></script>
		<script src='javascripts/mediaController.js'></script>
		<script src='javascripts/dynamic.js'></script>
    </head>
    <body>
	
	<div ui-view></div>

    </body>
    
</html>